.issuesListMainContainer{
    border: 2px solid #d0d7de;
    /* height: 35vh; */
    height: calc(100vh - 370px);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px 0px 5px 5px;
}

.issuesBlock{
    border-bottom: 2px solid #d0d7de;
    height: max-content;
}

.issuesBlock:hover{
    background-color: #f4f7fb;
}

.issuesDescriptions{
    padding: 10px;
    display: flex;
    gap: 1rem;
}

.issuesTitleLables{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    gap: 0.2em;
}

.issuesTitle{
    font-weight: 500;
}

.issuesTitle a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.issueLabels{
    margin-left: 0.5em;
    font-size: 0.8em;
    border-radius: 2em;
    padding: 5px 8px;
    font-weight: 400;
}

.issuesOtherDetails{
    margin-left: 2em;
    font-size: 0.8em;
    color:#969696;
}

.issuesComments{
    display: flex;
    gap: 0.2em;
    width: 10%;
    justify-content: flex-end;
    color: #57606A;
}

.octicon path {
    fill: green;
}

.commentsSvgCustom{
    cursor: pointer;
}

.commentsSvgCustom svg path {
    fill: #57606A
}