.appMainContainer{
    padding: 0 4%;
}

.githubIssueHeading{
    background-color: #F6F8FA;
    height: 4em;
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border: 2px solid #d0d7de;
    font-family: sans-serif;
}
